body {
  background-size: cover;
}

.heading {
  font-size: 23px;
  width: 100%;
  margin: 0px;
  font-family: 'Calligraffitti', cursive;
}

#status {
  font-size: 18px;
}


canvas {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  margin-top: 100px;
  border-width: 25px;
  border-color: white;
  border-radius: 20px;
}

@keyframes example {
  from {
    box-shadow: 1px 1px 880px red;
  }

  to {
    box-shadow: 1px 1px 88px blue;
  }
}